# Environnement virtuel
venv/ 


# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo

# Base de données locale
db.sqlite3


# Variables d'environnement (secrets !)
.env

# Fichiers statiques collectés
staticfiles/

# IDE
.vscode/
.idea/